*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  background-image: url("../images/backgrounds/mtg-landscape-wallpaper2.jpg");
  box-sizing: border-box;
  font-family: 'Expletus Sans';
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  color: #fff;
  font-size: 1.6rem;
  line-height: 1.7;
}

hr {
  border: none;
  height: 3px;
  color: #fff;
  background-color: #fff;
  margin: 1.5rem 0;
}

.primary-title {
  font-size: 6rem;
  font-weight: 700;
}

.secondary-title {
  font-size: 4.5rem;
  font-weight: 600;
}

.tertiary-title {
  font-size: 3rem;
  font-weight: 500;
}

h4 {
  font-size: 2rem;
}

.row {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.around {
  justify-content: space-around;
}

.between {
  justify-content: space-between;
}

.button {
  border-radius: 5px;
  color: #fff;
  padding: .75rem;
  text-decoration: none;
  font-size: 1.6rem;
  font-weight: bold;
  outline:none;
  box-shadow: 0 2px 8px #000;
}

.button:active {
  transform: scale(.95) translateY(2px);
  box-shadow: 0 1px 8px 2px #000;
}

/* =========== HEADER =========== */

header.navbar {
  background-color: #000;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .navbar__logo {
  display: flex;
  align-items: end;
}

header .navbar__logo span {
  margin-left:1rem;
  font-size: 2rem;
}

header .league-logout {
  background: linear-gradient(#ef2d28, #f36a26, #fcb62a, #f36a26, #ef2d28);
  border-color: #ef2d28;
}

/* ============== CONTAINER ============= */
.container {
  position: relative;
  padding: 1.5rem;
  max-width: 1280px;
  width:100%;
  margin: 0 auto;
}

.league-title {
  text-align: center;
  background-image: linear-gradient(to right, #ef2d28, #f36a26, #fcb62a);
  -webkit-background-clip: text;
  color: transparent;
}

.game_number {
  margin: 1.5rem 0;
}

#gameSelect {
  width: 7rem;
}

.custom-select {
  display: inline-block;
  width: 100%;
  height: 3rem;
  padding: .2rem 1.75rem .2rem .75rem;
  line-height: 1.5;
  color: #495057;
  vertical-align: middle;
  background: #fff url("../images/drop-down.png")
  no-repeat right .75rem center;
  background-size: 8px 10px;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.input {
  line-height: 1.7;
  font-size: 1.6rem;
  padding: .2rem;
  border-radius: 5px;
  width: 100%;
  margin: 0 1rem;
}

.new-player .button {
  background: radial-gradient(#7cb1da, #0f498e);
  border-color: #0f498e;
}

section.league_options {
  padding-bottom: 1.5rem;
}

/* =============== LEAGUE DATA =============== */

.league_data {
  margin: 0 auto;
}

.end_header {
  margin-top: 5px;
  height:2px;
}

div.div-checkbox {
  display: flex;
  align-items: center;
  justify-content: center;
}

.member {
  text-align: left;
  padding-left:1.5rem;
}

.deletePlayer {
  position: relative;
}

/* ----------- TRASH ICON ----------- */
button.delete.btn-circle,
button.trash-button {
  height: 32px;
  vertical-align: top;
  position: relative;
  width: 30px;
  padding: 0;
  background: transparent;
  border: none;
}

span.ion-ios-trash.trash-btn {
  position: absolute;
  /* top: 0px;
  left: 4px; */
  top:50%;
  left:20%;
  transform:translate(-50%,-50%);
  padding: 0;
  color: #fff;
}

button.delete.btn-circle:hover,
button.trash-button:hover,
span.ion-ios-trash.trash-btn:hover {
  color: #000;
}

span.ion-ios-trash.trash-btn:hover {
  cursor: pointer;
}

.ion-ios-trash:before {
  content: "\f4c5";
  font-size: 2em;
  padding: 0;
  margin: 0;
}

.header.trash-can {
  visibility: hidden;
}

/* ========== PLAYER LIST ============ */

.col:first-child,
.col:last-child {
  width: 5%;
}

.col:not(first-child),
.col:not(last-child) {
  width: 30%;
}

.commander-names {
  width:100%;
}

/* =========== START BUTTON =========== */

.player-amount-warning {
  display: none;
  color: red;
  font-style: italic;
  font-weight: bold;
}


.start-game {
  justify-content: flex-end;
  margin-top:2.5rem;
}

.start-game button {
  background-image: radial-gradient(#fcb62a, #f36a26, #ef2d28);
  border: 1px solid #000;
  color: #fff;
  margin-left: 2.5rem;
}

/* =============== MODAL =============== */

.warning-modal {
  visibility: hidden;
  background-color: #fff;
  color: #000;
  width:90%;
  position:absolute;
  top: 50%;
  left:50%;
  transform:translate(-50%,-50%);
  box-shadow: 0 5px 12px #000;
}

.modal-header {
  background-color: red;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: start;
  padding: 5px;
  font-size: 2rem;
}

.modal-header button {
  font-size: 2.5rem;
  background-color: transparent;
  color: inherit;
  margin-right: 1rem;
  text-shadow: 0 2px 4px #888;
  border: none;
}

.modal-content,
.modal-footer {
  padding: 1rem 1.5rem;
}

.modal-content p {
  margin:2rem 0;
  font-size:1.8rem;
}

.modal-content p span {
  font-weight:bold;
}

.modal-footer {
  border-top: 2px solid #333;
  margin: 0 15px;
  display: flex;
  justify-content: space-between;
}

@media screen and (orientation: portrait) {
  body {
    background-image: url("../images/backgrounds/mtg-portrait-purple3.jpg");
  }
}

@media screen and (max-width: 575.98px) {
  body {
    /* max-width: 100%; */
  }

  .gamesAndPlayers {
    display: block;
  }

  #startGame {
    width:100%;
  }

  .primary-title {
    font-size:4rem;
  }

  .secondary-title {
    font-size: 3rem;
  }

  .tertiary-title {
    font-size:1.7rem;
  }

  h4 {
    font-size:1.5rem;
  }

  .row.start-game {
    display: block
  }

  .player-amount-warning {
    font-size: 1.3rem;
    margin: 1.5rem 0;
  }

  .start-game button {
    margin-left: 0;
  }

}

@media screen and (min-width:1200px) {
  .container {
    max-width: 1140px;
  }

  .setup_divider {
    margin: 1.5rem auto;
    width:83.33333%;
  }
  .league_data {
    margin: 0 auto;
    width:83.33333%;
  }

  .members_list,
  .playerList {
    margin: 0 2rem;
  }

  .members_list {
    font-size:2.25rem;
  }

  .playerList {
    font-size:2rem;
  }

  .player-list-item:hover {
    background-color: rgba(255,255,255, .8);
    color: black;
    border-radius: 6px;
  }

  .player-list-item:hover .trash-btn {
    color:#000;
  }

  .warning-modal {
    max-width: 500px;
  }


}
