body {
  font-family: 'Expletus Sans';
  background-size: cover;
  /* max-height: 100%; */
  /* background-size: contain; */
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  background-color: black;
  color: #fff;
}

.navbar.navbar-dark {
  background-color: black;
}

.btn.league-logout {
  background: linear-gradient(#ef2d28, #f36a26, #fcb62a, #f36a26, #ef2d28);
  border-color: #ef2d28;
  background-size: cover;
}

.container {
  position: relative;
  top: 65px;
  padding-bottom: 25px;
}

h1,
h2 {
  font-size: 3rem;
  font-family: 'Expletus Sans';
  font-weight: bold;
  color: white;
  text-align: center;
  margin: 2rem 0;
  text-decoration: underline;
}

h1{
  font-size: 4.5rem;
  margin-top: 10px;
}

.number-games-label {
  margin: 0 auto;
}

.gamesAndPlayers-row {
  height: 160px;
}

.select-games {
  text-align: center;
}

#gameSelect{
  margin: 0 auto;
  width: 70px;
  height: 35px;
  background-color: #fff;
}

.add-player-form {
  text-align: center;
}

.input-group.new-player {
  max-width: 330px;
  margin: 0 auto;
}

#addPlayer {
  color: #fff;
  background: radial-gradient(#7cb1da, #0f498e);
  border-color: #0f498e;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
}

.add-player-feedback {
  background-color: #fff;
  border-radius: 5px;
  font-size: 13px;
  padding: 2px 0;
}

.header-row {
  border-bottom: 2px solid #fff;
  margin-bottom: 10px;
}

.player-list-header,
.playerList {
  margin: 0 auto;
}

#playerArea {
  margin-bottom: 25px;
}

.div-checkbox {
  display: table;
  text-align: end;
}

.input-checkbox {
  display: table-cell;
  vertical-align: middle;
}

h3.player,
.name-of-player {
  padding-left: 15px;
  padding-top: 5px;
}

h3.commander {
  text-align: center;
}

.header-points,
.member-points {
  text-align: center;
}

.input-group-prepend.div-checkbox {
  width: 5%;
  padding-top: 5px;
}

.row.player-list-item {
  margin-top: 15px;
  padding-top: 5px;
  /* padding-bottom: 5px; */
}

.playerPoints,
.playerCheck,
.name-of-player {
  padding-top: 5px;
}

.player-list-item:hover {
  background-color: rgba(255,255,255, .8);
  color: black;
  border-radius: 6px;
}

.start-button-column {
  text-align: right;
}

#alert.alert-danger {
  margin: 0 5px;
  display: inline-block;
  padding: 6px 20px;
}

.start-button {
  display: inline-block;
}

#startGame {
  color: #fff;
  width: auto;
  background: linear-gradient(#ef2d28, #f36a26, #fcb62a, #f36a26, #ef2d28);
  border-color: #ef2d28;
}


h4.playerPoints.points {
  margin: 0;
  margin-top: 4px;
}

.deletePlayer {
  padding-top: 3px;
}

button.delete.btn-circle {
  height: 32px;
  vertical-align: top;
  position: relative;
  width: 30px;
  padding: 0;
  background: transparent;
  border: none;
}

span.ion-ios-trash.trash-btn {
  position: absolute;
  top: 0px;
  left: 4px;
  padding: 0;
  color: #fff;
}

button.delete.btn-circle:hover,
span.ion-ios-trash.trash-btn:hover {
  color: #000;
}

span.ion-ios-trash.trash-btn:hover {
  cursor: pointer;
}

.ion-ios-trash:before {
  content: "\f4c5";
  font-size: 2em;
  padding: 0;
  margin: 0;
}

.modal-header {
  background-color: #dd3645;
  padding: 8px 16px;
}

.modal-body {
  color: black;
}

.modal-footer {
  padding: 9px 12px;
}
