*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  background-image: url("../images/backgrounds/mtg-landscape-wallpaper2.jpg");
  font-family: 'Expletus Sans';
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  color: #fff;
  font-size: 1.6rem;
  line-height: 1.7;
  box-sizing: border-box;
}

hr {
  border: none;
  height: 3px;
  color: #fff;
  background-color: #fff;
  margin: 1.5rem 0;
}

.primary-title {
  font-size: 6rem;
  font-weight: 700;
}

.secondary-title {
  font-size: 4.5rem;
  font-weight: 600;
}

.tertiary-title {
  font-size: 3rem;
  font-weight: 500;
}

h4 {
  font-size: 2rem;
}

.row {
  display: flex;
  justify-content: space-around;
  text-align: center;
  align-items: center;
}

.around {
  justify-content: space-around;
}

.between {
  justify-content: space-between;
}

.button {
  border-radius: 5px;
  color: #fff;
  padding: .75rem;
  text-decoration: none;
  font-size: 1.6rem;
  font-weight: bold;
  outline:none;
  box-shadow: 0 2px 8px #000;
  background: radial-gradient(#fcb62a, #f36a26, #ef2d28);
  border-color: #ef2d28;
  white-space: nowrap;
}

.button:active {
  transform: scale(.95) translateY(2px);
  box-shadow: 0 1px 8px 2px #000;
}

/* =========== HEADER =========== */

header.navbar {
  background-color: #000;
  font-size: 2rem;
  padding: 1rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

header .navbar__logo {
  display: flex;
  align-items: end;
}

header .navbar__logo span {
  margin-left:1rem;
  font-size: 2rem;
}

/* ================================ */
          /* CONTENT AREA */
/* ================================ */

.signin_page .container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.card-area {
  width: 40rem;
  height: 50rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card__container {
  width: 28rem;
  height: 35rem;
  position: absolute;
  font-family: 'Expletus Sans';
  transition: all 3s;
  padding: 2px;
  background-image:linear-gradient(to bottom right, #ef2d28 30%, #f36a26, #fcb62a, #f36a26, #ef2d28);
}

.card__form {
  background-color: #0f0f0f;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height:100%;
  padding: 2rem;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
}

.card__input {
  border: 2px solid #eee;
  position: relative;
  background: #eee;
  margin: 2.35rem 0;
  border-radius: 2px;
  overflow: hidden;
  padding: .75rem;
}

.card__input input {
  border: none;
  background: transparent;
  width: 100%;
  outline: none;
  font-weight: 500;
  font-family: "Expletus Sans", sans-serif;
  font-size: 1.6rem;
}

.box-btn{
  font-size: 1.4rem;
}

.password {
  display:flex;
  padding:.525rem;
}

.card__footer button {
  width: 100%;
  padding: 2.5rem;
  font-size: 2.2rem;
  text-transform: uppercase;
  font-weight: 600;
  background: #4CAF50;
  border: none;
  color: #fff;
  box-shadow: none;
  outline: none;
  cursor: pointer;
  border-radius: 5px;
}

.card__footer .alert {
  color: red;
  font-size: 1.3rem;
  font-weight: bold;
  text-align: center;
}

span.switch {
  background-color: transparent;
}

@keyframes toFront {
  0% {
    transform: translate3d(8.5rem, 0rem, 50px) scale(.9) rotateZ(-90deg);
  }

  50% {
    transform: translate3d(3rem, -25rem, 80px) rotateZ(-60deg);
  }

  100% {
    transform: translate3d(0rem, 0rem, 100px) scale(1);
  }
}

@keyframes toBack {
  0% {
    transform: translate3d(0rem, 0rem, 100px) scale(1);
  }

  50% {
    transform: translate3d(4rem, 25rem, 80px) rotateZ(-60deg);
  }

  100% {
    transform: translate3d(8.5rem, 0rem, 50px) scale(.9) rotateZ(-90deg);
  }
}





/* ================================= */
          /* MEDIA QUERIES  */
/* ================================= */

@media screen and (orientation: portrait) {
  body {
    background-image: url("../images/backgrounds/mtg-portrait-blue3.jpg");
  }
}

@media screen and (max-width: 575.98px) {
  .container {
    perspective: 1200px;
    position: relative;
    overflow: hidden;
  }

  .card-area {
    transform-style: preserve-3d;
    backface-visibility: hidden;
    transform: translateZ(-5rem);
    transition: transform 1s;
  }

  .card {
    width: 25rem;
    top:25%;
  }

  .signup-card {
    transform: rotateY(70deg) translateZ(18rem) translateY(-25%);
  }
  .login-card {
    transform: rotateY(0deg) translateZ(18rem) translateY(-25%);
  }

  .rotate {
    transform: translateZ(-5rem) rotateY(-70deg);
  }

  .middle {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .switch-notify {
    font-size: 1.3rem;
    margin-bottom: 4px;
  }

  .switch {
    font-size: 2.6rem;
  }

  .switch-arrow {
    height: 2rem;
    width: 2rem;
  }

  .switch-arrow img {
    width:100%;
    vertical-align: top
  }

  .flip {
    transform: rotate(180deg);
    margin-bottom: 1.2rem;
  }

  .card-footer button {
    font-size: 2rem;
  }
}

@media screen and (min-width: 576px) and (max-width: 991.98px) {

  .card-area {
    position: relative;
    perspective: 1200px;
    height:100%;
  }

  .card {
    transform-style: preserve-3d;
    width:26rem;
    height:30rem;
  }

  .signup-card {
    z-index: 0;
    transform: translate3d(8.5rem, 0rem, 50px) scale(.9) rotateZ(-90deg);
  }

  .login-card {
    z-index: 1;
    transform: translate3d(0rem, 0rem, 100px) scale(1);
  }

  .input-group {
    margin-bottom: 2rem;
  }

  .toFront {
    z-index: 1;
    animation: toFront ease-out 2s;
    transform: translate3d(0rem, 0rem, 100px) scale(1);
  }

  .toBack {
    z-index: 0;
    animation: toBack ease-out 2s;
    transform: translate3d(8.5rem, 0rem, 50px) scale(.9) rotateZ(-90deg);
  }

  .middle {
    display: none;
  }
}


@media screen and (min-width: 1440px) {
  .card-area {
    position: relative;
    perspective: 1200px;
  }

  .card {
    transform-style: preserve-3d;
  }

  .signup-card {
    z-index: 0;
    transform: translate3d(8.5rem, 0rem, 50px) scale(.9) rotateZ(-90deg);
  }

  .login-card {
    z-index: 1;
    transform: translate3d(0rem, 0rem, 100px) scale(1);
  }

  .toFront {
    z-index: 1;
    animation: toFront ease-out 2s;
    transform: translate3d(0rem, 0rem, 100px) scale(1);
  }

  .toBack {
    z-index: 0;
    animation: toBack ease-out 2s;
    transform: translate3d(8.5rem, 0rem, 50px) scale(.9) rotateZ(-90deg);
  }

  .middle {
    display: none;
  }
}
